h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: auto;
    padding-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-style: solid;
}

.collapsible {
    background-color:lightblue;
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    margin: 5px;
  }
  
  .active, .collapsible:hover {
    background-color:skyblue;
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color:white;
    color:black;
  }

a {
    color:dodgerblue;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover{
    color:navy;
}